/* myStyle.css */
body{color: black; background-color: lightcyan;}
h1{color: rgb(0, 0, 0); background-color: lightblue; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 300%;}
h2{color: rgb(0, 0, 0);}
#xyz{font: 130% Garamond, Comic Sans MS, fantasy; text-align: center;}


#all {width: 800px; height: 600px; margin-left: auto; margin-right: auto; border: 1px solid gray;}
    /* #header {background-color: #000000; border-bottom: 3px solid black; text-align: center;  height: 50px; padding-top: 0.15em; } */
    #left { float: left; width: 400px; clear: left; border-right: 1px solid black; height: 400px; padding-right: .5em; }
    #right { float: left; width: 600px; height: 400px; padding-left: .5em; }
    #footer { width: 800px; height: 60px; text-align: center; background-color: #e2e393; border-top: 3px double black; padding-bottom: 1em; clear: both; }

#header {background-color: black; }
#menuh { display: flex; flex-wrap: wrap; justify-content: center; margin: 0; padding: 0; }
        #menuh ul {display: flex; flex-wrap: wrap; padding: 0; margin-left: 0; list-style-type: none; }
    #menuh li { width: 7em; text-align: center; margin: 0.5em; }
    #menuh a {text-decoration: none; color: black; display: block; background-color: #EEEEFF; box-shadow: 5px 5px 5px gray; border-radius: 5px; border: 3px outset #EEEEFF;}
    #menuh a:hover {background-color: #DDDDEE; box-shadow: 3px 3px 3px gray; border: none; }
    